# Problem

There needs to be a way to compare:
1. Two REDCap projects with each other.
2. The REDCap project before vs after.

# Solution
This notebook exports current status of a project and compare it with an Excel file.

# Code 
### 1. Define project and Excel file

In [4]:
import AMBRA_Backups
import pandas as pd

In [7]:
# Current project
project_name = 'Personal Test'
project = AMBRA_Backups.redcap_funcs.get_redcap_project(project_name)
project_records = project.export_records(format_type='df')

# Write current project to Excel
base_excel_name = f'./{project_name}_current_records.xlsx'
project_records.to_excel(base_excel_name)
base_excel_df = pd.read_excel(base_excel_name)

# Excel file
excel_path = 'Personal Test_before_update.xlsx'
excel_df = pd.read_excel(excel_path)

In [8]:
# Merge

merged_df = pd.merge(base_excel_df, excel_df, how='outer', indicator=True)
diff_df = merged_df[merged_df['_merge'] != 'both']

In [11]:
diff_df

,record_id,id,patient_status_1,site,name,dob,mrn,icf_upload,scan_date,in_epic,...,routed_to_namespace,central_read_status,please_explain_1,crf_verification_status,please_explain_2,query_status,query_description,notes,inteleshare_processing_complete,_merge
0,B00000610,B00000610,1.0,2,NaN,NaN,NaN,NaN,2023-07-28 12:00,NaN,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,2,left_only
1,B00000610,B00000610,NaN,2,NaN,NaN,NaN,NaN,2023-07-28 12:00,NaN,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,2,right_only
3,B00001393,B00001393,1.0,2,NaN,NaN,NaN,NaN,2024-08-20 09:38,NaN,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,2,left_only
4,B00001393,B00001393,NaN,2,NaN,NaN,NaN,NaN,2024-08-20 09:38,NaN,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,2,right_only
5,B00002530,B00002530,1.0,2,NaN,NaN,NaN,NaN,2024-05-16 12:00,NaN,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,2,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,P3PRS2086,P3PRS2086,NaN,1,Joan Doyle,1960-11-09,3457046.0,NaN,2024-04-26 12:00,1.0,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,2,right_only
598,P3PRS2748,P3PRS2748,1.0,1,Joanne Hall,1964-10-12,3355166.0,NaN,2024-09-17 12:00,1.0,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,2,left_only
599,P3PRS2748,P3PRS2748,NaN,1,Joanne Hall,1964-10-12,3355166.0,NaN,2024-09-17 12:00,1.0,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,2,right_only
600,P3PRS3355,P3PRS3355,1.0,1,Kiki Greiwe,1968-07-18,4511059.0,NaN,2024-11-29 07:00,1.0,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,2,left_only
601,P3PRS3355,P3PRS3355,NaN,1,Kiki Greiwe,1968-07-18,4511059.0,NaN,2024-11-29 07:00,1.0,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,2,right_only

In [10]:
diff_df.to_excel('diff.xlsx')